<h1>HomeStay App</h1>
<p>Hi <b><%= @user.full_name %></b></p>
<p>You booked<i><b><%= @place.name%> </b></i>homeStay</p>
<p>Address: <%= @place.address %> </p>
<table style="width:50%">
    <tr>
        <td>Check in date at:</td>
        <td><%= @booking.check_in_date %></td>
    </tr>
    <tr>
        <td>Check out date at:</td>
        <td><%= @booking.check_out_date%></td>
    </tr>
    <tr>
        <td>Number of night:</td>
        <td><%= nights=(@booking.check_out_date.to_date - @booking.check_in_date.to_date).to_i %></td>
    </tr>
    <tr>
        <td>Base Price:</td>
        <td><%= @place.base_price %>$</td>
    </tr>
    <tr>
        <td>Extra Fee:</td>
        <td><%= @place.extra_fee %>$</td>
    </tr>
    <tr>
        <td>
            <p>Total price = base price* number of nights + extra fee :</p>
        </td>
        <td><b><%= nights*@place.base_price+@place.extra_fee %></b>$</td>
    </tr>
</table>
<p>Click on the link below to learn more room information: <a href=<%=@url %>>Learn more </a><br /></p><br /><br /><br />
<h2 style="text-align: center">We appreciate your choosing our services</h2>